{{ 'newYear.css' | asset_url | stylesheet_tag }}
{{ 'newYear.js' | asset_url | script_tag }}

{%- if section.settings.enable_snow -%}
  <div class="newYears-container">
    <!-- Container chính với class newYears-background -->
    <div class="newYears-background{% if section.settings.background_image %} has-background{% endif %}"
      {%- if section.settings.background_image -%}
        style="background-image: url('{{ section.settings.background_image | image_url }}');"
      {%- endif -%}>
    </div>
    
    <!-- Container cho hiệu ứng hoa - giờ sẽ trống và được fill bởi JavaScript -->
    <div class="newYears-effects">✨</div>
    <div class="newYears-effects"></div>
    <div class="newYears-effects"></div>
    <div class="newYears-effects"></div>
    <div class="newYears-effects"></div>
    <div class="newYears-effects"></div>
    <div class="newYears-effects"></div>
    <div class="newYears-effects"></div>
    <div class="newYears-effects"></div>
    <div class="newYears-effects"></div>

  </div>
{%- endif -%}

{% schema %}
{
  "name": "New Year Effect",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_snow",
      "label": "Enable New Year Effect",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    }
  ],
  "presets": [
    {
      "name": "New Year"
    }
  ]
}
{% endschema %}
