.section-header {
  margin-top: clamp(50px, 8vw,80px);
}
.section-header h1.section-header__title {
  justify-content: center;
  margin-bottom: clamp(20px, 4vw, 47px);
  font-size: clamp(20px, 5vw, 49px);
  line-height: 1.3;
}
.section-header svg {
  width: clamp(18, 4vw,44px);
  height: clamp(18, 4vw,44px);
  margin-left: clamp(3px, 0.5vw,5px);
  margin-right: clamp(3px, 0.5vw,5px);
}

.customer_reviews .header_section {
  display: none;
}
h3.reviews_title {
  margin-bottom: clamp(20px, 6vw,5rem);
  font-size: clamp(20px, 3vw,34px);
  font-weight: 700;
  line-height: 1.5;
}
.customer-reviews__section {
  margin-bottom: clamp(50px, 16vw,15rem);
}
.customer-experience__reviews .swiper-wrapper {
  margin-bottom: 0;
}
@media screen and (min-width: 767px) {
  .reviews_container {
  margin-bottom: 15rem;
}
  .customer-experience__reviews .swiper-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
  } 
}
.customer-experience__item {
  display: flex;
}
.customer-experience__image {
  flex: 0 0 555px;
}
.customer-experience__image img {
  display: block;
}
.customer-experience__content {
  flex: 1;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--section-background);
}
.customer-experience__content h4 {
  font-size: clamp(1.25rem, 3vw, 1.75rem);
  line-height: 1.3;
}
.customer-experience__content p {
  font-size: 1rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .customer-experience__item:nth-child(even) .customer-experience__image {
    order: 1;
  }
}
.socials-review {
  max-width: 750px;
}
.socials-review__items {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
}
.socials-review__item {
  border-radius: 90px;
  padding: 14px 50px;
  border: 1px solid #1C2C58;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  max-width: 555px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.news-reviews > .swiper {
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
}
.news-reviews .swiper-slide {
  font-size: clamp(1.125rem, 4vw,2.5rem);
  font-weight: 500;
}
.news-reviews__slider {
  margin-bottom: 70px;
}
.news-reviews__thumb .swiper-wrapper {
  justify-content: space-around;
  margin-bottom: 0;
}
.news-reviews__slider .swiper-button-prev, .news-reviews__slider .swiper-button-next {
  background-color: transparent;
  color: var(--colorBtnPrimary);
  border: 1px solid #1b2a570d;
}
.news-reviews__slider .swiper-button-prev {
  left: 0;
}
.news-reviews__slider .swiper-button-next {
  right: 0;
}
.news-reviews__thumb .swiper-slide {
  cursor: pointer;
  filter: grayscale(1);
}
.news-reviews__thumb .swiper-slide-thumb-active {
  filter: none;
}
.customer-reviews-fb__content .btn {
  font-size: 1rem;
  padding: 14px 36px;
}
.reviews__collections .swiper-wrapper {
  margin-bottom: 80px;
}
.reviews__collections .swiper-slide {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  opacity: .6;
}
.reviews__collections .swiper-slide.swiper-slide-active {
  opacity: 1;
}
.customer_reviews .btn-group {
  margin-top: 80px;
}
.customer_reviews .btn-group .btn {
  font-size: 1rem;
}
.customer_reviews .reviews_container .reviews .review {
  border-radius: 20px;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .reviews .swiper-wrapper {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .reviews .swiper-wrapper {
    gap: 40px;
  }
  .customer_reviews .swiper-button-next, .customer_reviews .swiper-button-prev, .customer_reviews .swiper-pagination {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .customer-experience__image {
    flex: 0 0 48%;
  }
}
@media screen and (max-width: 767px) {
  .news-reviews__slider {
    margin-bottom: 0;
  }
  .customer-experience__item {
    flex-direction: column;
  }
  .customer-experience__image {
    padding: 20px;
  }
  .customer-experience__image, .customer-experience__content {
    flex: 0 0 100%;
    background-color: var(--section-background);
  }
  .reviews__collections .swiper-wrapper {
    margin-bottom: 40px;
  }
}
